.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-positive {
  background-color: $positive;
}
.bg-light {
  background-color: $light;
}
.bg-dark {
  background-color: $dark;
}
