$primary: #3a4796;
$secondary: #ff852f;
$positive: #20b3e6;
$light: #ffffff;
$dark: #252525;
$danger: #e63720;
$desktop: 1199px;
$tablet: 899px;
$mobile: 599px;
$box-shadow: 0.1rem 0.1rem 0.4rem rgba($dark, 0.2);
$text-shadow: 0.1rem 0.1rem 0.2rem rgba($dark, 0.3);
